<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
  <form class="form" action="/register" method="POST" enctype="multipart/form-data">
    <input type="text" name="username" placeholder="Nome de Usuário" required>
    <input type="password" name="password" placeholder="Senha" required>
    <input class="inputDeImg" type="file" name="profileImage" accept="image/*"> <!-- Campo de upload de imagem -->
    <button type="submit">Registrar</button>
  </form>
  </div>
  </div>
</body>
</html>
