<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <form class="form" method="post" action="/register">
      <h1>Registro de Usuário</h1>
      <input type="text" name="username" placeholder="Nome de Usuário" required>
      <input type="password" name="password" placeholder="Senha" required>
      <button type="submit">Registrar</button>
    </form>
  </div>
</body>
</html>
